h1 {
    text-shadow: 2px 2px #bfbfbf;
    padding:0 30px;
    font: 72px Bauhaus Md BT;
    src: url("../resources/bauhaus.ttf");
    font-weight: bold;
}

h1 .m {
    color: red;
    margin-right:-6px;
}

h1 .o {
    color: #46a546;
    margin-right:-6px;
}

h1 .l {
    color: royalblue;
    margin-right:-6px;
}

#form-login {    
    padding:10px 30px;
}

#form-login h2 {
    padding-bottom:10px;
}

